<tr>
  <td>
    <b><%= lesson.id %></b>
  </td>
  <td>
    <b><%= lesson.user.name %></b>
  </td>
  <td>
    <% if lesson.learned? %>
      <span class="text-success">
        <%= t :finished %>
        <%= [lesson.answers.correct.size, Settings.words_number].join "/" %>
      </span>
    <% else %>
      <span class="text-info"><%= t :opening %></span>
    <% end %>
  </td>
  <td class="text-right">
    <% if lesson.learned? %>
      <%= link_to lesson, class: "btn btn-default btn-xs" do %>
        <span class="glyphicon glyphicon-eye-open"></span>
        <%= t :view_results %>
      <% end %>
    <% end %>
    <%= link_to lesson, method: :delete,
      class: "btn btn-danger btn-xs", data: {confirm: t(:you_sure)} do %>
      <span class="glyphicon glyphicon-remove"></span>
      <%= t :delete %>
    <% end %>
  </td>
</tr>
