<tr>
  <td class="category-name">
    <%= category.name %>
  </td>
  <td class="category-description">
    <%= category.description %>
  </td>
  <td class="category-name">
    <%= category.words.length %>
  </td>
  <td class="col-actions text-right">
    <%= link_to category, class: "btn btn-info btn-xs" do %>
      <%= t :details %>
    <% end %>
    <%= link_to "#", method: :post,
      class: "btn btn-primary btn-xs" do %>
      <%= t :start %>
    <% end %>
  </td>
</tr>
