<title><%= @category.name %></title>
<h2><%= @category.name %></h2>
<p><%= @category.description %></p>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "#", method: :post,
        class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-play"></span> <%= t :start_new_lesson %>
      <% end %>
    </div>
  </div>
</div>
<hr/>
<h3><%= t :lessons %></h3>
<%= t :no_items_found %>
