<title><%= @category.name %></title>
<h2><%= @category.name %></h2>
<p><%= @category.description %></p>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to category_lessons_path(@category), method: :post,
        class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-play"></span> <%= t :start_new_lesson %>
      <% end %>
    </div>
  </div>
</div>
<hr/>
<h3><%= t :lessons %></h3>
<% if @lessons.any? %>
  <table class="table table-hover">
    <tr>
      <th><%= t :lessons %></th>
      <th><%= t :status %></th>
      <th></th>
    </tr>
    <%= render @lessons %>
  </table>
  <div class="text-center">
    <%= will_paginate @lessons %>
  </div>
<% else %>
  <%= t :no_items_found %>
<% end %>
