<title><%= t "user.all" %></title>
<h3><%= t "user.all" %></h3>
<% if @users.any? %>
  <table class="table table-hover">
    <tr>
      <th><%= t :name %></th>
      <th><%= t :email %></th>
      <th></th>
    </tr>
    <%= render @users %>
  </table>
  <div class="text-center">
    <%= will_paginate @users %>
  </div>
<% else %>
  <%= t :no_items_found %>
<% end %>
